

body {
	margin: 0;
 	padding: 0;
 	color: #ffffff;
 	border-color: #dddddd;
 	color: #777777;
}
header {
 	font-family: 'Georgia', Times, Times New Roman, serif;
 	/*background-color: #ffffff;*/
 	background-color: white;
 	padding-left: 100px;
 	border-color: #cccccc;
 	color: white;
 }
 hr {
 	clear: left;
 }
 section {
 	/*padding-left: 100px;*/
 	margin: 0;
 	background: url(../images/subtle_white_mini_waves.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*clear: left;*/
	float:left;
	width: 960px;
 }
 aside {
 	width: 270px;
 	float: right;
 }
 footer {
 	background-color: #4aaaa5;
 	text-align: center;
 	height: 50px;
 	float: left;
 	width: 100%;
 	color: white;

 }
 article {
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	color: #777777;
 	padding-bottom: 20px;
 }
 nav {
 	float: right;
 	padding-top: 30px;
 	word-spacing: 10px;
 	padding-right: 80px;
 }
 div {
 	background-color: white;
 }
 p {
 	color: #777777;
 	clear: left;
 }
 hr {
 	width: 90%;
 }
 a:link, a:visited{
 	color: #777777;
 	text-decoration: none;
 }
 input, textarea {
 	margin-left: 20px;
 }
/* h4{
 	width: 200px;
 	height: 50px;
 	background-color: #4aaaa5;
 	z-index: 1;
 }*/
 .name {
 	padding-top: 30px;
	width: 170px;
	height: 50px;
	text-align: center;
	float: left;
	margin-left: 70px;
	margin-bottom: 0;
	background-color: #4aaaa5;
 }
 .title {
 	color: #4aaaa5;
 	padding-left: 20px;
 }
 .aqua {
 	background-color: #4aaaa5;
 	width: 150px;
 	font-size: 18px;
 	color: #777777;
 	text-align: center;
 }
 /* This resizes the git, linked in, and stacked overflow images */
 .resize {
 	width: 30px;
    height: 30px;
 }
 .contactSection {
 	width: 510px;
 	margin-left: 170px;
 	margin-top: 20px;
 	float: left;
 }
 .connect {
 	margin: 30px 40px 0px 0px;
 	width: 150px;
 	height: 120px;
 	padding: 20px;
 	text-align: center;
 	float: right;
 	color: #4aaaa5;
 }
 .contact_div {
 	width: 450px;
 	margin-left: 170px;
 	margin-top: 20px;
 	float: left;
 }
 .submit {
 	background-color: #4aaaa5;
 	color: white;
 	padding: 10px 20px 10px 20px;
 }
 .label {
 	padding-left: 20px;
 }
 .footer{
 	margin-top: 10px;
 	background-color: #666666;
 	height: 50px;
 	padding-top: 5px;
 	width: 100%;
 }
 .about {
 	padding-left: 20px;
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	color: #777777; 	
 }
 .image {
 	padding-left: 20px;
 	float: left;
 }
 #rpg {
	width: 200px;
 	height: 50px;
 	background-color: #4aaaa5;
 	z-index: 2;
 }
 #hangman {
	width: 200px;
 	height: 50px;
 	background-color: #4aaaa5;
 	z-index: 1;
 	float: left;
 }
 #homer {
 	float: left;
 }
 #abstract {
 	float: left;
 }
 #pond {
 	float: left;
 }
 #forrest {
 	float: right;
 }
 #parasailing {
 	float: left;
 }


  /* Media queries */
 @media screen and (max-width: 980px) {

 	.contactSection{
 		width: 320px;
 	}
 /* .facet_sidebar {
    display: none;
  }*/
}
